
@{
    ViewData["Title"] = "Form7";
}

<h1>Witaj w programie na wystawianie mandatów</h1>
<form method="post" action="/home/form7">
    <p>Podaj prędkość</p>
    <input type="text" name="speed"/>
    <input type="submit" value="Wyślij"/>
</form>

@ViewBag.mandat