
@{
    ViewData["Title"] = "Form2";
}

<h1>Quiz</h1>
<h2>Co jest stolicą Polski</h2>
<a class="btn btn-primary" href="/home/form2?odpowiedz=Paryż">Paryż</a>
<a class="btn btn-primary" href="/home/form2?odpowiedz=Gniezno">Gniezno</a>
<a class="btn btn-primary" href="/home/form2?odpowiedz=Warszawa">Warszawa</a>
<a class="btn btn-primary" href="/home/form2?odpowiedz=Nowy Sącz">Nowy Sącz</a>

<h1>@ViewBag.odp</h1>


