@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@ViewBag.info1</h2>
    <h2>@ViewBag.info2</h2>
    <h2>@ViewBag.dataigodzina</h2>
</div>
